</html><!DOCTYPE html>
<html>
<head>
<title>Marion Bernès</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/style.css">
<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400italic|Quicksand|Muli' rel='stylesheet' type='text/css'>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>


<div id="container">
	<div id="header">
		<p class="hello">Hello, my name is</p>
		<h1>Marion</h1>

		<div id="prez">
		<th><img src="images/MarionBernès.jpg" alt=MarionBernès width=230 id="logo" oncontextmenu="return false" ondrag="return false" onmousedown="return false"></th>
		
		<ul class="list-inline" id="nav">
 		<li><a href="#expérience">Expérience</a></li>
 		<li><a href="#compétences">Compétences</a></li>
 		<li><a href="#parcours">Parcours</a></li>
 		<li><a href="#hobbies">Centres d'intérêts</a></li>
 		<li><a href="#rs">Réseaux sociaux</a></li>
		</ul>
	</div>	
		
	<p><table width=100%>
	<tr>
		<th><a href="doc/CVMarionBernes.pdf" target="_aboutblank"><img src="images/pdf.png" id="pdf" width=34 oncontextmenu="return false" ondrag="return false" onmousedown="return false"></i></a><a href="mailto:marion.bernes@gmail.com"><img src="images/mail.png" id="mail" width=60 oncontextmenu="return false" ondrag="return false" onmousedown="return false"></i></a></th></p>
	</table>



	<p><i class="fa fa-female"></i> 21 ans</p>
	<p><i class="fa fa-phone"></i> 06.22.34.04.47</p>
	<p><i class="fa fa-map-marker"></i> Bordeaux, France</p>
	

	<div class="achievement" id="expérience">
		<h2>Expérience</h2>
		<img src="images/pro.png" alt=Expérience class="icones" oncontextmenu="return false" ondrag="return false" onmousedown="return false">

		<h3><i class="fa fa-angle-double-right"></i> <a href="http://editoile.fr/" target="_blank">Editoile</a> (mai - août 2014)</h3>
		<ul>
		<h4><li>Rédaction web</li></h4>
		<p>Exemples : <a href="http://editoile.fr/choisir-la-categorie-dune-page-facebook/" target="_blank">blog d'Editoile</a> + ?</p>
		<h4><li>Community management</li></h4>
		<p>Live-tweet, animation de communautés et veille</p>
		</ul>

		<h3><i class="fa fa-angle-double-right"></i> <a href="http://www.octopepper.com/" target="_blank">Octopepper</a> (octobre 2013 - mai 2014, 2 jours par semaine)</h3>
		<ul>
		<h4><li><a href="http://yummypets.com" target="_blank">Yummypets</a></li></h4>
		<p>Rédaction web : exemples ici et ici</p>
		<h4><li><a href="http://beastieblogawards.com/" target="_blank">Beastie Blog Awards</a></li></h4>
		<p>Création du concept</p> 
		<p>Suivi du projet de A à Z</p>
		<p>Community management : <a href="https://www.facebook.com/beastieblogawards" target="_blank">Facebook</a> et <a href="https://twitter.com/Beastieblogfr" target="_blank">Twitter</a></p>
		</ul>

		<h3><i class="fa fa-angle-double-right"></i> <a href="http://www.premiersplans.org/" target="_blank">Festival Premiers Plans</a> (février 2013)</h3>
		<ul>
		<h4><li>Relations presse</li></h4>
		<p>Organisation de rencontres entre les journalistes et les professionnels du cinéma</p>
		<p>Rédaction de communiqués de presse</p>
		<p>Elaboration de la revue de presse du festival</p>
		</ul>

		<h3><i class="fa fa-angle-double-right"></i> <a href="http://www.bordeaux7.com/" target="_blank">Bordeaux 7</a> (octobre 2011)</h3>
		<ul>
		<h4><li>Journaliste</li></h4>
		<p>Rédactions d'articles et de brèves : <a href="doc/woodinsane.pdf" target="_aboutblank">exemple</a></p>
		<p>Réalisation d'interviews</p>
		</ul>
	</div>

	<div class="achievement" id="compétences">

		<h2>Compétences</h2>

		<img src="images/compétences.png" alt=Compétences class="icones" oncontextmenu="return false" ondrag="return false" onmousedown="return false">

		<h3><i class="fa fa-angle-double-right"></i> Web</h3>

		<ul>
		<li>Community management</li>
		<li>Rédaction web</li>
		<li>Gestion de projets</li>
				
		</ul>

		<h3><i class="fa fa-angle-double-right"></i> Outils</h3>

		<ul>
		<li>Pack Office</li>
		<li>Adobe : Photoshop, Indesign, Illustrator et Premiere Pro CC</li>
		<li>Bases HTML et CSS</li>
		<li>Mozilla Thunderbird</li>
		<li>Wordpress</li>
		<li>Campaign Monitor</li>
		<li>Crowdbooster</li>
		<li>Prezi</li>
		</ul>

		<h3><i class="fa fa-angle-double-right"></i> Communication</h3>

		<ul>
		<li>Rédaction de communiqués de presse</li>
		<li>Anglais : bon niveau lu et parlé</li>
		</ul>
	</div>

	<div class="achievement" id="parcours">

		<h2>Parcours</h2>

		<img src="images/études.png" alt=Etudes class="icones" oncontextmenu="return false" ondrag="return false" onmousedown="return false">

			<h3><i class="fa fa-angle-double-right"></i> ISEG Marketing & Communication School, Bordeaux</h3>
			<p>2013 - 2016 (espéré)</p>
			<p>Actuellement : M1 stratégies digitales de la marque</p>

			<h3><i class="fa fa-angle-double-right"></i> Université Catholique de l'Ouest, Angers</h3>
			<p>2011 - 2013</p>
			<p>L2 Information et communication</p>

			<h3><i class="fa fa-angle-double-right"></i> Université Bordeaux - Montaigne, Pessac</h3>
			<p>2010 - 2011</p>
			<p>L1 LCE Anglais</p>


			<h3><i class="fa fa-angle-double-right"></i> Lycée Montesquieu, Bordeaux</h3>
		<p>2007 - 2010</p>
		<p>BAC L, option anglais renforcé</p>
		
	</div>

	<div class="achievement" id="hobbies">

		<h2>Centres d'intérêts</h2>

		<img src="images/like.png" alt=intérêts class="icones" oncontextmenu="return false" ondrag="return false" onmousedown="return false">

		<p>Actualité du web</p>
		<p>Publicité et marketing</p>
		<p>Blogging</p>
		<p>Musique rock, électro et folk</p>
		<p>Cinéma indépendant</p>
		<p>Littérature américaine</p>
		<p>Cuisine</p>
		
	</div>

	<div class="achievement" id="rs">

    <center><h2>Follow me ?</h2></center>

    
    	<p><table width=100%>
			<tr>      
        <th><a href="https://www.facebook.com/marion.bernes" target="_blank"><img src="images/Facebook2.png" class="rs" oncontextmenu="return false" ondrag="return false" onmousedown="return false"></i></a></th>
        <th><a href="https://twitter.com/MarionBernes" target="_blank"><img src="images/Twitter.png" class="rs" oncontextmenu="return false" ondrag="return false" onmousedown="return false"></i></a></th>
        <th><a href="https://www.linkedin.com/pub/marion-bern%C3%A8s/83/a47/636" target="_blank"><img src="images/Linkedin.png" class="rs" oncontextmenu="return false" ondrag="return false" onmousedown="return false"></i></a></th>
        <th><a href="http://instagram.com/whatmadidid" target="_blank"><img src="images/Instagram.png" class="rs" oncontextmenu="return false" ondrag="return false" onmousedown="return false"></i></a></th>
        <th><a href="http://whatmadidid.tumblr.com/" target="_blank"><img src="images/Tumblr.png" class="rs" oncontextmenu="return false" ondrag="return false" onmousedown="return false"></i></a></th>
        <th><a href="http://www.pinterest.com/whatmadidid/" target="_blank"><img src="images/Pinterest.png" class="rs" oncontextmenu="return false" ondrag="return false" onmousedown="return false"></i></a></th>
        <th><a href="https://soundcloud.com/whatmadidid" target="_blank"><img src="images/Soundcloud.png" class="rs" oncontextmenu="return false" ondrag="return false" onmousedown="return false"></i></a></th>
   </table>
  </div>




</div>

<p id="crédits">© 2014 Marion Bernès. <a href="http://media.giphy.com/media/KIS4alAucQILe/giphy.gif" target="_blank">Tous droits réservés.</p>

</body>
</html>